.container__small-card{
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 13rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.small-card_picture > img{
  width: 20rem;
  min-width: 100%;
  margin-right: 2rem;
}
.small-card_title{
display: flex;
align-items: center;
justify-content: center;
margin-left: 1.3rem;
}
.container_small-card-content{
  display: flex;
  flex-direction: row;
}
.container__small-card_separator{
  margin-top: 0.8rem;
}
