<div class="container__small-card">
  <div class="container_small-card-content">
    <div class="small-card_picture">
      <img src="https://64.media.tumblr.com/eed73a3ae52270a68f5ebd9336bc33e1/c3153d3fbb53ce17-a0/s540x810/dbf0e86b639763d6856b865a32aadea822a64830.gif" alt="" height="" srcset="">
    </div>
    <div class="small-card_title">
     <h1><a href="#">Saiu a nova versão do Node.Js, Veja o que mudou aqui!</a></h1>
    </div>
  </div>
</div>
<div class="container__small-card_separator">
  <hr/>
</div>
